@{
    ViewBag.Title = "Home Page";
}

<div class="main-wrapper">

    <div class="container">
        <!-- Container -->

        <div class="blank-spacer padding-top20 padding-bottom20"></div>

        <div class="row">
            <div class="col-md-4">
                <div class="service-block sb-border sb-default animation bounceIn">
                    <div class="service-block-icon text-center">
                        <div class="icon-wrapper icon-border-radius fa-4x color-default">
                            <i class="fa fa-tablet"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Responsive Design</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
                        <a href="#" class="link-icon">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block sb-border sb-purple animation bounceIn">
                    <div class="service-block-icon text-center">
                        <div class="icon-wrapper icon-border-radius fa-4x color-purple">
                            <i class="fa fa-cogs"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Unlimited Options</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
                        <a href="#" class="link-icon purple">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service-block sb-border sb-orange animation bounceIn">
                    <div class="service-block-icon text-center">
                        <div class="icon-wrapper icon-border-radius fa-4x color-orange">
                            <i class="fa fa-credit-card"></i>
                        </div>
                    </div>
                    <div class="service-block-title text-center">
                        <p>Shop Ready</p>
                    </div>
                    <div class="service-block-content text-center">
                        <p>Integer rhoncus auctor eros at viverra. Donec ornare mi quis nulla euismod volutpat. Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
                        <a href="#" class="link-icon orange">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="blank-spacer padding-top20 padding-bottom20"></div>

    </div> <!-- /Container -->

    <div class="fullsize fullsize-background">
        <!-- Full Size -->

        <div class="container container-inner">
            <div class="row">
                <div class="col-md-6">
                    <img alt="" class="img-responsive animation fadeInLeft aligncenter" src="/content/img/demo/animated-responsive.png">
                </div>
                <div class="col-md-6 animation fadeInRight">
                    <h2 class="title-medium title-color">We will show you the way to Success.</h2>
                    <p class="lead">Maecenas sed diam eget risus varius blandit sit amet non magna!</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-icon-wrapper">
                                <h4 class="box-icon-title margin-top20 margin-bottom20">
                                    <span class="icon-wrapper icon-full-round bg-color-default"><i class="fa fa-medkit color-white"></i></span>Customers Support
                                </h4>
                                <p>Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-icon-wrapper">
                                <h4 class="box-icon-title margin-top20 margin-bottom20">
                                    <span class="icon-wrapper icon-full-round bg-color-purple"><i class="fa fa-book color-white"></i></span>Well Documented
                                </h4>
                                <p>Sed consectetur, tellus in tristique cursus, nibh magna malesuada tortor, sed adipiscing orci mauris in arcu.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box-icon-wrapper">
                                <h4 class="box-icon-title margin-top20 margin-bottom20">
                                    <span class="icon-wrapper icon-full-round bg-color-orange"><i class="fa fa-magic color-white"></i></span>Unlimited Colors
                                </h4>
                                <p>Aenean at tortor pretium, tempor nibh nec, iaculis mauris. Pellentesque tincidunt ipsum eu nibh mollis. </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box-icon-wrapper">
                                <h4 class="box-icon-title margin-top20 margin-bottom20">
                                    <span class="icon-wrapper icon-full-round bg-color-success"><i class="fa fa-tablet color-white"></i></span>Fully Responsive
                                </h4>
                                <p> Fusce mattis ante sed quam tristique sollicitudin. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div><!-- /Full Size -->


    <div class="fullsize padding-none">
        <!-- Container Full Size -->

        <div class="parallax-wrapper parallax-background" data-stellar-background-ratio="0.6">

            <div class="parallax-wrapper padding-large">
                <div class="container">

                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="blank-spacer margin-top10 margin-bottom10"></div>

                                            <h1 class="title-large text-center color-white animation bounceIn">Build Parallax Easy</h1>
                                            <p class="lead text-center color-white"><strong>SmartOn</strong> complete responsive, retina-ready &amp; multipurpose theme.<br /> Maecenas sed diam eget risus varius blandit sit amet non magna.<br /> Donec id e porta gravida at eget metus!</p>
                                            <div class="blank-spacer padding-small"></div>
                                            <p class="text-center animation fadeInUp"><a class="btn btn-primary btn-lg" href="#">Buy SmartOn Today <i class="fa fa-shopping-cart fa-margin-left"></i></a></p>

                                            <div class="blank-spacer margin-top10 margin-bottom10"></div>

                                        </div>

                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>


                </div>
            </div>
        </div>

    </div><!-- /Container Full Size-->


    <div class="container container-inner">
        <!-- Container -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="heading-single text-center title-small title-color"><span>Skills &amp; Services</span></h2>
                <h4 class="text-center margin-bottom20"><span>This is what we do</span></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">

                <div class="tabs">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="active"><a data-toggle="tab" href="#webdesign"><span class="fa fa-desktop"></span> Web Design</a></li>
                        <li><a data-toggle="tab" href="#jquery"><span class="fa fa-code-fork"></span> jQuery</a></li>
                        <li><a data-toggle="tab" href="#php"><span class="fa fa-code"></span> PHP</a></li>
                        <li><a data-toggle="tab" href="#marketing"><span class="fa fa-bullhorn"></span> Marketing &amp; PR</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="webdesign" class="tab-pane fade active in">
                            <img alt="" src="/content/img/theme/building.jpg" class="img-thumbnail alignleft">
                            <p><strong>Maecenas interdum lobortis nunc</strong>, sit amet ultrices urna lobortis et. Donec iaculis dui in pretium hendrerit. Integer et nisi dictum, posuere tellus eget, posuere nulla. Curabitur a augue eget nibh bibendum egestas. <span class="label label-success">Nam viverra venenatis</span> felis, et congue felis vestibulum non. Donec congue purus mauris, non congue eros congue vel.</p>
                            <p>Proin sodales iaculis quam. Cras et leo dictum, lobortis magna id, dapibus augue. Cras iaculis ipsum nec varius malesuada.<span class="label label-primary">Donec ultrices</span> arcu hendrerit, consectetur velit at, pulvinar eros. Nunc sit amet lacus molestie, commodo ipsum sed, adipiscing arcu. </p>
                        </div>
                        <div id="jquery" class="tab-pane fade">

                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="#">Curabitur neque</a> interdum tellus, quis lorem ipsum tooltip-boot luctus ligula. Curabitur laoreet fringilla porta. Proin dictum lacus at neque interdum tempor.</p>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-icon-wrapper">
                                        <h4 class="box-icon-title margin-top20 margin-bottom20">
                                            <span class="icon-wrapper icon-border-round"><i class="fa fa-star"></i></span><strong>Magic</strong> Effects
                                        </h4>
                                        <p>Turpis venenatis at laoreet. Etiam lorem nulla fuviverra minim sed metus egestas sapien conseto actetuer, ac etiam amet bibendum.</p>
                                        <a class="btn btn-primary" href="#">Read more <i class="fa fa-angle-right fa-margin-left"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-icon-wrapper">
                                        <h4 class="box-icon-title margin-top20 margin-bottom20">
                                            <span class="icon-wrapper icon-border-round"><i class="fa fa-rocket"></i></span><strong>Speed</strong> enhancement
                                        </h4>
                                        <p>Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque.</p>
                                        <a class="btn btn-primary" href="#">Read more <i class="fa fa-angle-right fa-margin-left"></i></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="box-icon-wrapper">
                                        <h4 class="box-icon-title margin-top20 margin-bottom20">
                                            <span class="icon-wrapper icon-border-round"><i class="fa fa-sitemap"></i></span><strong>Crafted</strong> directions
                                        </h4>
                                        <p>Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio. Donec egestas aliquet facilisis. </p>
                                        <a class="btn btn-primary" href="#">Read more <i class="fa fa-angle-right fa-margin-left"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="php" class="tab-pane fade">
                            <h4 class="title-color">Maecenas congue lacinia sollicitudin</h4>


                            Cras vel neque posuere, commodo leo et, sollicitudin tortor. <span class="label label-default">Sed at placerat</span> mi, id dapibus arcu. Nam dictum risus sed imperdiet cursus. Ut arcu sem, auctor a hendrerit non, interdum sed velit. Proin a neque in neque congue blandit. <span class="label label-success">Maecenas</span> congue lacinia sollicitudin. Pellentesque mi lorem, tincidunt a tempus dapibus, varius a diam. Aliquam elit risus, egestas in lectus consectetur, placerat eleifend sapien. <span class="label label-info">Suspendisse</span> id nisi in libero pulvinar ultrices id et dolor. Integer orci augue, venenatis nec mauris ullamcorper, interdum vestibulum purus.
                            <h4 class="title-color">Curabitur pulvinar turpis</h4>
                            <span class="label label-warning">Sed tempor justo</span> erat, in lacinia metus mattis quis. Nullam a auctor ipsum, sit amet dictum turpis. Mauris at turpis pharetra justo vestibulum dapibus ac nec est. Curabitur pulvinar turpis sit amet rhoncus cursus. Integer consequat justo dui, viverra congue ipsum pellentesque ac. Donec lacinia, leo in porttitor pretium, velit nisi porta mi, sit amet dignissim ipsum ipsum vitae lacus.
                        </div>
                        <div id="marketing" class="tab-pane fade">
                            <h3 class="title-color">Tellus eget, posuere nulla</h3>
                            <p>Sit amet ultrices urna lobortis et. Donec iaculis dui in pretium hendrerit. Integer et nisi dictum, posuere tellus eget, posuere nulla. Curabitur a augue eget nibh bibendum egestas. Nam viverra venenatis felis, et congue felis vestibulum non. Donec congue purus mauris, non congue eros congue vel.</p>
                            <div class="blank-spacer padding-bottom10 padding-top10"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <ul class="fa-ul list-divider">
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Cras sit amet rutrum ante</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Aliquam placerat porta nunc, id interdum</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Donec congue purus mauris</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Integer et nisi dictum</li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="fa-ul list-divider">
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Proin sodales iaculis quam</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Mauris at turpis pharetra justo</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Donec congue purus mauris</li>
                                        <li><i class="fa-li fa fa-chevron-circle-right color-default"></i>Integer et nisi dictum</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="progress-bars margin-top30">
                    <h5 class="progress-title">Web Design <span class="pull-right">92%</span></h5>
                    <div class="progress progress-striped">
                        <div class="progress-bar animation fadeInLeftBig" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                            <span class="sr-only">92% Complete</span>
                        </div>
                    </div>
                    <h5 class="progress-title">jQuery <span class="pull-right">73%</span></h5>
                    <div class="progress progress-striped">
                        <div class="progress-bar animation fadeInLeftBig" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 73%">
                            <span class="sr-only">73% Complete</span>
                        </div>
                    </div>
                    <h5 class="progress-title">PHP <span class="pull-right">85%</span></h5>
                    <div class="progress progress-striped">
                        <div class="progress-bar animation fadeInLeftBig" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="sr-only">85% Complete</span>
                        </div>
                    </div>
                    <h5 class="progress-title">Marketing &amp; PR <span class="pull-right">64%</span></h5>
                    <div class="progress progress-striped">
                        <div class="progress-bar animation fadeInLeftBig" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 64%">
                            <span class="sr-only">64% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- /Container -->

    <div class="fullsize fullsize-background padding-medium">
        <!-- Full Size -->

        <div class="container">
            <!-- Container -->

            <div class="row">
                <div class="col-md-12">
                    <h2 class="heading-single text-center title-small title-color"><span>Latest Projects</span></h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p class="text-center">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas convallis lectus eget velit sagittis, sit amet convallis felis ultricies.</p>
                </div>
            </div>

        </div> <!-- /Container -->
        <!-- Carousel -->
        <div class="caroursel-work">

            <div class="list_carousel responsive">
                <div class="carousel-navigation">
                    <a id="carou-prev" class="prev" href="#"><i class="fa fa-angle-left"></i></a>
                    <a id="carou-next" class="next" href="#"><i class="fa fa-angle-right"></i></a>
                </div>
                <ul class="latest-work disable-select">
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/1.jpg">
                                    <div class="overlay-fade">
                                        <a href="/content/img/demo/demoimg/1.jpg" data-lightbox="image"><i class="icon-overlay fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                                <div class="work-entry-details">
                                    <h3>Nunc eu nunc eget</h3>
                                    <p>Vivamus in mollis arcu, ac egestas felis. Integer non lacus sodales dolor.</p>
                                    <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/2.jpg">
                                    <div class="overlay-hslide">
                                        <a href="http://www.youtube.com/watch?v=B4PcV06hz9g" data-lightbox="video"><i class="icon-overlay fa fa-link"></i></a>
                                    </div>
                                </div>
                                <h3>Donec egestas aliquet</h3>
                                <p>Nulla eget suscipit odio. Curabitur eleifend mi eget tincidunt porta.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay zoom-image">
                                    <img alt="" src="/content/img/demo/demoimg/3.jpg">
                                    <div class="overlay-zoom">
                                        <a href="https://vimeo.com/1084537" data-lightbox="video"><i class="icon-overlay fa fa-play"></i></a>
                                    </div>
                                </div>
                                <h3>Enim urna eget odio</h3>
                                <p>Fusce facilisis tincidunt sem et dictum. In faucibus vulputate nibh.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/4.jpg">
                                    <div class="overlay-vslide">
                                        <a href="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=venice&amp;sll=37.0625,-95.677068&amp;sspn=46.27475,107.138672&amp;ie=UTF8&amp;hq=&amp;hnear=Venice,+Province+of+Venice,+Veneto,+Italy&amp;t=k&amp;z=19&amp;iwloc=A" data-lightbox="map"><i class="icon-overlay fa fa-link"></i></a>
                                    </div>
                                </div>
                                <h3>Suspen disse vulputate tristique</h3>
                                <p>Vestibulum fermentum sapien pellentesque velit dictum malesuada.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/5.jpg">
                                    <div class="overlay-fade">
                                        <a href="http://www.themeforest.net" data-lightbox="iframe"><i class="icon-overlay fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                                <h3>Tristique urna neconios urne feugia</h3>
                                <p>Cras ligula dui, mattis in augue eget, mattis tristique dolor.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/6.jpg">
                                    <div class="overlay-hslide">
                                        <a href="http://www.placehold.it/1000x1000" data-lightbox="image"><i class="icon-overlay fa fa-link"></i></a>
                                    </div>
                                </div>
                                <h3>Maecen nulla culis justo metisto</h3>
                                <p>Etiam nec elementum diam. Donec pharetra felis lacus, eget molestie.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay zoom-image">
                                    <img alt="" src="/content/img/demo/demoimg/7.jpg">
                                    <div class="overlay-zoom">
                                        <a class=""><i class="icon-overlay fa fa-play"></i></a>
                                    </div>
                                </div>
                                <h3>Vestibulis accumsan fanno</h3>
                                <p>In interdum pharetra urna eget feugiat. Integer placerat imperdiet.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/8.jpg">
                                    <div class="overlay-vslide">
                                        <a class=""><i class="icon-overlay fa fa-link"></i></a>
                                    </div>
                                </div>
                                <h3>Justo aliquam males uada</h3>
                                <p>Mauris est mi, semper dapibus dictum sit amet, sodales ut dolor.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/9.jpg">
                                    <div class="overlay-fade">
                                        <a class=""><i class="icon-overlay fa fa-search-plus"></i></a>
                                    </div>
                                </div>
                                <h3>Ut sagittis – lorem ipsum sit amet</h3>
                                <p>Nam facilisis at quam eget porta. Donec sollicitudin aliquet mauris.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="work-entry">
                            <div class="work-entry-content">
                                <div class="image-overlay">
                                    <img alt="" src="/content/img/demo/demoimg/10.jpg">
                                    <div class="overlay-hslide">
                                        <a class=""><i class="icon-overlay fa fa-link"></i></a>
                                    </div>
                                </div>
                                <h3>Etiam lorem nulla</h3>
                                <p>Vestibulum fermentum sapien pellentesque velit dictum malesuada.</p>
                                <a class="link-icon" href="#">Read More <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- /Carousel -->

    </div> <!-- /Full Size -->


    <div class="container container-inner">
        <!-- Container -->

        <div class="row">

            <div class="col-md-8">
                <h3>Our Happy Clients</h3>
                <div class="clients-wrapper">

                    <ul class="grid-list">
                        <li>
                            <a class="tooltip-on" title="WordPress" href="http://wordpress.org/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/1.png">
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on" title="Joomla" href="http://www.joomla.org/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/2.png">
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on" title="jQuery" href="http://jquery.com/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/3.png">
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on" title="Envato Marketplace" href="http://envatomarketplaces.com/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/4.png">
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on" title="Microlancer" href="http://www.microlancer.com/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/5.png">
                            </a>
                        </li>
                        <li>
                            <a class="tooltip-on" title="Tuts+" href="https://tutsplus.com/">
                                <img alt="" class="img-responsive animation bounceIn" src="/content/img/demo/clients/6.png">
                            </a>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-md-4">
                <h3>Testimonials</h3>
                <div class="list_carousel responsive">
                    <div class="testimonials-wrapper">
                        <ul class="testimonials testimonials-slider disable-select">
                            <li>
                                <div class="testimonial-content">
                                    <p>Nullam gravida neque quis augue vestibulum euismod. Suspendisse risus tortor, varius ac malesuada in, mattis vitae mauris. Auctor sit amet feugiat eu &amp; viverra ac felis.</p>
                                </div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-image"><img alt="" src="/content/img/demo/testimonials/author1.jpg"></div>
                                    <div class="testimonial-author">Carolyne Dones</div>
                                    <div class="author-job">CEO - <span class="author-link"><a href="#">Artimest</a></span></div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-content">
                                    <p>Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio.</p>
                                </div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-image"><img alt="" src="/content/img/demo/testimonials/author2.jpg"></div>
                                    <div class="testimonial-author">Lance Dorgan</div>
                                    <div class="author-job">CEO - <span class="author-link"><a href="#">SmartOn</a></span></div>
                                </div>
                            </li>
                            <li>
                                <div class="testimonial-content">
                                    <p>Nullam gravida neque quis augue vestibulum euismod. Suspendisse risus tortor, varius ac malesuada in, mattis vitae mauris. Auctor sit amet feugiat eu &amp; viverra ac felis.</p>
                                </div>
                                <div class="testimonial-meta">
                                    <div class="testimonial-author">Jhon Doe</div>
                                    <div class="author-job">CEO - <span class="author-link"><a href="#">SmartOn</a></span></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="pagination-carousel" id="testimonials_pag"></div>
                </div>

            </div>

        </div>

    </div><!-- /Container -->

</div>